body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}

#calcBody{
    border-style: solid;
    border-color: back;
    background-color: lightgray;
    padding: 10px;
    width: 400px;
    height: 600px;
    flex-shrink:0;
    border-radius:5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

#display{
    border-style: solid;
    background-color: white;
    padding: 5px 20px;
    font-size: 48px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin: 10px 10px;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

#buttonGrid{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.button{
    border-style: solid;
    background-color: black;
    font-size: 48px;
    color:white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-content:center;
    align-items:center;
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.operator{
    background-color: grey
}

#clear, #equal{
    background-color: darkblue;
}



